@import "~bootstrap/scss/bootstrap";

/* generals */

.container-fluid {
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    color: currentColor;
    text-decoration: none;
}

.button-bluewhite {
    padding: 10px 50px;
    background-color: hsl(208.91deg 98.41% 49.22%);
    color: white;
    font-size: 15px;
    font-weight: 600;
}

/* header */

.towards-payments {
    background-color: hsl(208.91deg 98.41% 49.22%);
    padding: 5px 0;
    color: white;
}

.jumbo {
    height: 400px;
    position: relative;
}

.jumbo-img {
    top: 0;
    z-index: -2;
    position: absolute;
}

.label-current-series {
    bottom: -30px;
    left: 15vw;
    position: absolute;
    padding: 15px;
    background-color: hsl(208.91deg 98.41% 49.22%);
    color: white;
}

/* main */

.container-main {
    background-color: hsl(0deg 0% 10.98%);
}

/* footer */

.center-footer {
    background-image: url("/public/footer-bg.jpg");
    max-height: 480px;
    color: white;
    padding: 30px 0;
    display: flex;
    justify-content: end;

    li {
        color: lightgray;
    }
}

.center-footer ul {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: min-content;
    flex-grow: 0;
}

#center-footer-container {
    max-height: 480px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    align-items: start;
}

.rights-section a {
    color: blue;
}

.newsletter-and-socials {
    background-color: hsl(0deg 0% 18.82%);

    .container {
        height: 100px;
        justify-content: space-between;
        align-items: center;
    }
}
